{% extends 'base.html' %} 
{% block content %}

<!-- About Section -->
<section class="success" id="about">
	<div class="container">
		<hr class="star-light">
		
      
		
		<div class="row">
			<div class="col-lg-12 text-center">
				<p>Thankful!</p>
				
				
			</div>
		</div>
		<div class="row">
		
			<div>
			The website is on a trial, if you want more times to improve your word. Please add my wechat: tanyifans.
			<br>
			Donate us or share our web to earn times.
			<br>
			20 ¥ for 500 times.
			<br>
			50 ¥ for 2000 times. 
			<br>
			Share our app in your moment with the following poster and get 50 likes to earn 100 times. Send your screenshot to my wechat account!
			</div>
		
		</div>
	

		

	</div>
</section>
{% endblock %}